* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  color: white;
  background: #999;
}

.nav-links {
  width: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  font-size: 20px;
}
